/* Font Family */

.raleway-boddy{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Body */

body{
    font-family: "Raleway";
}

/* Header */

.header-portafolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 16px;
}

.header-portafolio h2{
    margin-right: 54px;
    white-space: nowrap;
}

.header-portafolio img{
    width: 24px;
    height: 24px;
}

.nav-principal{
    display: none;
}

/* Menu Principal */

.menu-principal{
    padding-top: 16px;
    margin: 16px;
}

.portada{
    width: 98px;
    height: 98px;
    border-radius: 50px;
    margin-bottom: 16px;
}

.size-14{
    font-size: 14px;
}

.size-22{
    font-size: 22px;
}

.menu-principal h2{
    font-weight: bold;
}

.menu-principal p{
    margin: 16px 0;
}

.redes-sociales{
    display: flex;
    margin-bottom: 16px;
    justify-content: flex-start;
    gap: 7px;
}

.redes-sociales li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.redes-flex{
    display: flex;
   align-items: center;
}

.icono-menu-principal{
    width: 16px;
    height: 16px;
}

.sobre-mi{
    background-color: #EAF2FD;
    padding: 16px;
}

.sobre-mi p{
    margin: 16px 0;
}

/* Skills */

.skills{
    padding: 16px;
    background-color: #F5F5F5;
    font-weight: bold;
}

.hobb{
    padding-top: 16px;
}

.skills h2, .hobbies h2{
    text-align: center;
    font-size: 22px;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 8px;
    background-color: #fff;
    width: 156px;
    height: 118px;
}

.caja-skills, .caja-hobbies{
    margin: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.caja img{
    background-color: #fff;
    width: 37px;
    
}

.lista-skills, .lista-hobbies{
    display: flex;
    margin-top: 32px;
    margin-bottom: 16px;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Seccion Formacion Academica */

.formacion-academica{
    background-color: #EAF2FD;
    padding: 32px;
    text-align: left;
}

.formacion-academica h2{
    text-align: center;
}

.formacion-imagenes{
    width: 296px;
    height: 169px;
    padding: 16px 0 0 0;
}

.formacion-imagenes h3{
    margin: 8px 0 8px 0;
}



.formacion-imagenes img{
    max-width: 84px;
}

.ul-formacion-academica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-formacion-academica{
    width: 296px;
    height: 118px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* experiencia-profesional */

.experiencia-profesional{
    padding: 32px;
}

.flex-experiencia div img{
    width: 296px;
}

.experiencia-profesional h2{
    text-align: center;
    margin-bottom: 16px;
}

.flex-experiencia{
    display: flex;
    flex-flow: column wrap;
    gap: 64px;
}

.margin-h3{
    margin: 16px 0 8px 0;
}

.display-block{
    display: block;
    margin-bottom: 8px;
}

.boton-experiencia{
    height: 40px;
    width: 108px;
}

.boton-1{
    background-color: #FFF;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    margin-right: 16px;
}

.boton-2{
    background-color: #2A7AE4;
    color: #FFF;
    border: 1px solid #2A7AE4;
}

/* Seccion Contacto */

.contacto {
    padding: 32px;
    background-color: #EAF2FD;
}

.contacto h3{
    margin-bottom: 8px;
}

.contacto img{
    display: none;
}

.section-contacto{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.section-contacto input{
    margin-top: 32px;
    width: 296px;
    height: 56px;
    border: 1px solid #fff;
}

.section-contacto textarea{
    margin: 32px 0;
    border: 1px solid #fff;
    height: 133px;
}

.section-contacto button{
    width: 133px;
    height: 40px;
    color: #fff;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.input-flex{
    font-size: 12px;
}

.blue::placeholder{
    color: #2A7AE4;
}

/* Seccion Footer */

footer{
    padding: 32px 65.5px;
    text-align: center;
}

/* Para Dispositivos Tablet 768px */
@media (min-width: 768px){

    /* Seccion Header */

    .header-portafolio{
        margin: 16px 32px 16px 32px;
        justify-content: flex-end;
    }

    .header-portafolio img{
        margin-left: 32px;
    }

    .header-portafolio h2{
        margin-right: 402px;
        font-size: 16px;
    }

    .bold{
        font-weight: bold;
    }

    .size-14{
        font-size: 16px;
    }

    /* Main */
    /* Seccion Menu Principal*/

    .portada{
        width: 146px;
        height: 146px;
        border-radius: 100px;
        order: 2;
    }

    .menu-principal{
        display: flex;
        flex-wrap: wrap;
        margin: 40px 34px 32px 32px;
        gap: 76px;
    }

    .h2-p-redes_sociales{
        display: flex;
        flex-flow: column wrap;
        width: 68.22%;
    }

    .h2-p-redes_sociales p{
        margin: 8px 0 8px 0;
    }

    .icono-menu-principal{
        width: 24px;
        height: 24px;
    }

    .redes-sociales{
        margin: 0;
        gap: 32px;
        font-weight: 500;
    }

    /* Seccion Sobre mi */

    .sobre-mi{
        padding: 32px;
    }

    /* Seccion Skills */

    .skills{
        padding: 32px;
    }

    .lista-skills, .lista-hobbies{
        gap: 32px 16px;
    }

    .caja{
        width: 224px;
        height: 118px;
    }

    /* Seccion Hobbies */
    
    .hobb{
        padding-top: 48px;
        padding-bottom: 16px;
    }

    /* Seccion Formacion Academica */

    .formacion-academica{
        padding: 32px;
    }

    .formacion-academica h2{
        margin-bottom: 32px;
    }

    .ul-formacion-academica{
        flex-flow: row nowrap;
        gap: 16px;
    }

    .imagen-formacion-academica{
        width: 224px;
    }

    .formacion-imagenes{
        width: 224px;
        height: 169px;
        padding: 0;
    }

    .formacion-imagenes span{
        font-size: 14px;
        font-weight: 500;
    }

    /* Seccion Experiencia Profesional */

    .experiencia-profesional{
        background-color: #F5F5F5;
    }

    .flex-experiencia div img{
        width: 704px;
    }

    .boton-experiencia{
        width: 108px;
        height: 40px;
        font-weight: 600;
        font-size: 14px;
    }

    .display-block{
        font-size: 14px;
        font-weight: 500;
    }

    /* Seccion Contacto */
    .section-contacto input{
        width: 704px;
        height: 56px;
    }

    .section-contacto button{
        font-size: 14px;
        font-weight: 600;
    }

    .section-contacto textarea{
        height: 133px;
    }
}

/* Para Dispositivos Laptop 1440px */

@media (min-width: 1440px){

    /* Seccion Header */
    .header-portafolio{
        justify-content: flex-start;
        padding: 32px 152px;
        margin: 0;
        white-space: nowrap;
    }
    
    .header-portafolio img{
        margin: 0;
    }

    .header-portafolio h2{
        margin-right: 345px;
    }

    .nav-principal{
        display: flex;
        gap: 32px;
        margin-right: 32px;
    }

    .nav-flex{
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    
    /* Seccion Menu Principal */
    .menu-principal{
        margin: 32px 132px;
        padding: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 17px;
    }

    .portada{
        width: 368px;
        height: 368px;
        border-radius: 184px;
        margin: 0;
    }

    .h2-p-redes_sociales{
        width: 751px;
    }

    .h2-p-redes_sociales h2{
        font-size: 55px;
        font-weight: bold;
    }

    .h2-p-redes_sociales p{
        margin: 24px 0;
    }

    .size-14{
        font-size: 22px;
    }

    .redes-flex span{
        font-size: 16px;
    }

    /* Seccion Sobre mi */

    .sobre-mi{
        padding: 64px 152px;
    }

    .sobre-mi p{
        font-size: 16px;
    }

    .size-22{
        font-size: 32px;
    }

    /* Seccion Skills */

    .skills{
        padding: 32px 152px;
    }

    .skills h2{
        font-size: 32px;
    }

    .lista-skills{
        margin-bottom: 40px;
    }

    .lista-skills, .lista-hobbies{
        justify-content: flex-start;
        gap:158px 12.5px ;
        
    }

    .caja{
        width: 176px;
        height: 174px;
    }

    /* Seccion Formacion Academica */

    .formacion-academica{
        padding: 82px 152px;
    }

    .imagen-formacion-academica{
        width: 368px;
        height: 286px;
    }

    .formacion-imagenes{
        width: 368px;
        height: 347px;
    }

    .formacion-imagenes h3{
        font-size: 22px;
    }

    .formacion-imagenes span{
        font-size: 16px;
    }

    .formacion-imagenes img{
        max-width: 190px;
    }

    .width-alura{
        width: 190px;
    }

    /* Seccion Experiencia Profesional */

    .experiencia-profesional{
       padding: 32px 152px;
       flex-direction: row;
       flex-wrap: wrap;
    }

    .experiencia-profesional h2{
        margin-bottom: 32px;
    }

    .espacio{
        display: inline-block;
    }

    .flex-experiencia div img{
        width: 752px;
    }

    .primer-div-experiencia{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .margin-h3{
        font-size: 22px;
    }

    .display-block{
        font-size: 16px;
    }

    .boton-experiencia{
        width: 116px;
        height: 51px;
        font-size: 16px;
    }

    .orden-numero2-imagen{
        order: 2;
    }

    /* Seccion Contacto */

    .contacto{
        display: flex;
        padding: 128px 152px 64px 152px;
        gap: 16px;
    }

    .contacto h3{
        font-size: 32px;
    }

    .contacto p{
        font-size: 16px;
    }

    .contacto img{
        display: block;
    }

    .section-contacto button{
        width: 144px;
        height: 51px;
        font-size: 16px;
    }

}